.wrapper{
    display: flex;
    position: relative;
    perspective: 10;
    justify-content: center;

}

.container{
    background-color: brown;
    border: 1px black solid;
    transform: translate(-20em,30em);
    
}

#img{
    align-self: center;
}

.card{
    position: absolute;
    z-index: 1;
}

#bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.avatar {
    width: 40%;
    border-radius: 50%;
  }


.container {
    padding: 16px;
    font-size: 17px;
}
